.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5em;

    max-width: max-content;
}

.formItem {}

.formControl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.formControl > input {
    font-size: 1em;
}

.formError {
    font-size: 0.7em;
    color: #ff4444;
}
